@import './colors';

@mixin pageLayout() {
  min-width: 300px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: blue;
}
html, body{
    @include pageLayout();
  }
  nav {
    padding: 0 30px 0 30px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    .btn {
      color: $plain;
      min-height: 30px;
      margin-left: 20px;
    }
    
    .green-btn {
      background: $go;
    }
    
    .red-btn {
      background: $danger;
    }
  }
  
  .container {
    padding: 20px;
    padding-bottom: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: 80px auto;
    border: 10px solid $inner;
    border-top: 10px solid $outer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  .footer{
    border-top: 1px solid;
    width: 100%;
    height: 50px;
    background: $plain;
    position: fixed;
    bottom: 0;
     h3{
      font-weight: 200;
      font-size: 15px;
      color: $lessImportant;
      text-align: center;
    }
  }

  .product {
    height: 150px;
    padding: 10px;
    border: 1px solid;
    text-align: left;
  }
  
  .message {
    color: $warning;
    font-weight: bold;
    font-size: 20px;
  }
  
  .info {
    margin-top: 0;
    text-align: center;
  }
  
  .form {
    margin: 30px;
  }
  
  td {
    padding-bottom: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }